<div class="container-quemsomos">
  <app-menu></app-menu>
  <div class="quemsomos-title">
    <h1>QUEM SOMOS</h1>
    <p>Você está em: Home / Quem Somos</p>
  </div>
  <div class="quemsomos-description">
    <p>Formada em Administração de Empresas, porém trabalhando no segmento bancário, as
      amigas Gabriela e Cris montaram seu próprio negócio com criações para inovar no mercado
      da moda executiva com peças autênticas e versáteis.
    </p>

    <p>A loja, especializada em moda executiva e tendências, ganhou o gosto das mulheres
      bancárias em Porto Alegre e região metropolitana, com a globalização e tecnologia sua
      marca chegou ao conhecimento de mulheres em vários Estados dos País e até mesmo no
      Exterior fazendo com que a demanda crescesse de uma forma acelerada e súbita, com isso,
      houve uma sobrecarga no atendimento online e como a única forma de acesso aos produtos
      para essas pessoas era por celular via whatsapp muitas clientes deixaram de receber
      atendimento e muitas vendas foram perdidas.
    </p>

    <p>Insatisfeita com a situação a saída encontrada foi lançar uma loja virtual. Este site de
      vendas possibilitará que todos tenham acesso as suas criações e possam adquirir os seus produtos.
      Produtos de alta qualidade, preço justo e ricos em beleza e sofisticação de forma segura,
      rápida sem que saiam do conforto do seu lar e sem enfrentar trânsito e perigos adversos,
      além da facilidade parcelar suas compras.
    </p>
  </div>
  <div class="quemsomos-rodape">
    <app-rodape></app-rodape>
  </div>
</div>

